1. Hola Mundo (1 pto): Utilice el método print para mostrar en pantalla la siguiente línea:

In [1]:
print("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

2. Ingreso de variables (2 ptos): Ingrese una serie de datos respecto a su información
personal. Esta información debe estar ingresada en variables para su posterior uso.
Ingrese los siguientes datos:
● Su nombre.
● Edad.
● Una lista con sus 3 actividades favoritas.
● ¿Tiene mascotas?

In [28]:
actividades = []
name=str(input("Ingrese Nombre: "))
edad=int(input("Ingrese Edad: "))
for i in range(3):
    actividad=input("Ingrese actividad Favorita: ")
    actividades.append(actividad)
mascota=str(input("Tiene Mascota: "))

Ingrese Nombre:  Jorge
Ingrese Edad:  40
Ingrese actividad Favorita:  Cine
Ingrese actividad Favorita:  Fubtol
Ingrese actividad Favorita:  Tecnologias
Tiene Mascota:  Si

In [29]:
print (name)
print (edad)
print (actividades[1])
print (mascota)

Jorge
40
Fubtol
Si

In [30]:
print (("Nombre es tipo"),type(name))
print (("Edad es tipo"),type(edad))
print (("Actividades es tipo"),type(actividades))
print (("Mascota es tipo"),type(mascota))

Nombre es tipo <class 'str'>
Edad es tipo <class 'int'>
Actividades es tipo <class 'list'>
Mascota es tipo <class 'str'>

In [32]:
print("Hola, mi nombre es",name,"tengo",edad,"años. Mis actividades favoritas son:", actividades[0],",",actividades[1],"y",actividades[2],". Si me preguntan si tengo mascota mi respuesta es",mascota)

Hola, mi nombre es Jorge tengo 40 años. Mis actividades favoritas son: Cine , Fubtol y Tecnologias . Si me preguntan si tengo mascota mi respuesta es Si

4. Identificar códigos erróneos (2 ptos): a continuación se presenta una serie de
códigos que generan errores. Corríjalos y comente cuáles fueron las fallas.
print('Estaba la pájara pinta sentada en el verde limón)
print('Mi nombre es' name 'y tengo' edad, 'años')
import pandas as pd
import numpy as np
"Ornitorrinco" + 45

In [34]:
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

In [35]:
print('Mi nombre es',name,'y tengo',edad, 'años')

Mi nombre es Jorge y tengo 40 años

In [36]:
import pandas as pd
import numpy as np

In [41]:
"Ornitorrinco" * 45

'OrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrincoOrnitorrinco'

5. Utilizar pandas y numpy (3 ptos):
Para ello, sigue los siguientes pasos.
A. Importa pandas y numpy.
B. Posteriormente importa el archivo flights.csv.
C. Solicita las primeras y últimas 5 observaciones de la tabla de datos.
D. Utiliza describe para obtener las medidas univariadas de la columna year.
E. Utiliza value_counts para obtener la frecuencia de meses y años de la tabla.
F. Guarda en variables las primeras y últimas 15 observaciones de la tabla.
G. Solicita la media, mediana y desviación estándar de la cantidad de pasajeros
utilizando los métodos de numpy. Replique el procedimiento para las últimas y
primeras 15 observaciones. Comente brevemente los resultados.

In [42]:
# A. Importa pandas y numpy.
import pandas as pd
import numpy as np

In [44]:
# B. Posteriormente importa el archivo flights.csv.
df=pd.read_csv('flights.csv')

In [48]:
# C. Solicita las primeras y últimas 5 observaciones de la tabla de datos.
df.head(n=5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [49]:
df.tail(n=5)

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [54]:
# D. Utiliza describe para obtener las medidas univariadas de la columna year.
df['year'].describe

<bound method NDFrame.describe of 0      1949
1      1949
2      1949
3      1949
4      1949
       ...
139    1960
140    1960
141    1960
142    1960
143    1960
Name: year, Length: 144, dtype: int64>

In [69]:
# E. Utiliza value_counts para obtener la frecuencia de meses y años de la tabla.
años=df['year']
años.value_counts()

1949    12
1950    12
1951    12
1952    12
1953    12
1954    12
1955    12
1956    12
1957    12
1958    12
1959    12
1960    12
Name: year, dtype: int64

In [70]:
meses=df['month']
meses.value_countsunts()

January      12
February     12
March        12
April        12
May          12
June         12
July         12
August       12
September    12
October      12
November     12
December     12
Name: month, dtype: int64

In [71]:
# F. Guarda en variables las primeras y últimas 15 observaciones de la tabla.
primeras=df.head(n=15)
ultimas=df.tail(n=15)

In [74]:
# G. Solicita la media, mediana y desviación estándar de la cantidad de pasajeros utilizando los métodos de numpy. 
# Replique el procedimiento para las últimas y primeras 15 observaciones. Comente brevemente los resultados.

In [80]:
media=np.mean(df['passengers'])
mediana=np.median(df['passengers'])
desviacion_estandar=np.std(df['passengers'])

print('La media de pasajeros del dataframe es:',media)
print('La mediana de pasajeros del dataframe es:',mediana)
print('La desviacion estandar de pasajeros del dataframe es:',desviacion_estandar)

La media de pasajeros del dataframe es: 280.2986111111111
La mediana de pasajeros del dataframe es: 265.5
La desviacion estandar de pasajeros del dataframe es: 119.54904153277148

In [81]:
media_primeros=np.mean(primeras['passengers'])
mediana_primeros=np.median(primeras['passengers'])
desviacion_estandar_primeros=np.std(primeras['passengers'])

print('La media de pasajeros del dataframe es:',media_primeros)
print('La mediana de pasajeros del dataframe es:',mediana_primeros)
print('La desviacion estandar de pasajeros del dataframe es:',desviacion_estandar_primeros)

La media de pasajeros del dataframe es: 126.8
La mediana de pasajeros del dataframe es: 126.0
La desviacion estandar de pasajeros del dataframe es: 12.681745410891462

In [82]:
media_ultimos=np.mean(ultimas['passengers'])
mediana_ultimos=np.median(ultimas['passengers'])
desviacion_estandar_ultimos=np.std(ultimas['passengers'])

print('La media de pasajeros del dataframe es:',media_ultimos)
print('La mediana de pasajeros del dataframe es:',mediana_ultimos)
print('La desviacion estandar de pasajeros del dataframe es:',desviacion_estandar_ultimos)

La media de pasajeros del dataframe es: 459.2
La mediana de pasajeros del dataframe es: 432.0
La desviacion estandar de pasajeros del dataframe es: 75.29426715671431

Se observa que los resultados del promedio de todo el data frame estan en una posicion media, sobre las primeras 15 y las ultimas 15 lineas de registro. Esto nos indica que a medida que mas avanza el registros mayor es la cantidad de pasajeros por cada año y mes.