In [91]:
import pandas as pd
import numpy as np

In [92]:
df_worldcup = pd.read_csv('worldcup2014.csv')

Desafío 1: Generación de funciones
● Genere funciones para calcular la media y varianza de un vector. Debe cumplir con
los siguientes requisitos:
○ Ambas funciones deben ingresar un argumento x correspondiente al vector.
○ Las funciones deben contener docstrings con la documentación asociada a
la variable y retornar un valor utilizando return.
○ La función de la varianza se debe llamar a la función de la media.
● Utilice las funciones para reportar la información sobre goles_favor, goles_contra
y puntos.

In [93]:
def media(x):
    median=np.mean(x)
    return(median)

In [94]:
def var(x):
    varianza=np.var(x)
    return(varianza)

In [95]:
df_goles_favor = [df_worldcup.goles_favor]
df_goles_contra = [df_worldcup.goles_contra]
df_puntos = [df_worldcup.puntos]

In [96]:
print('La media de goles a favor es:',media(df_goles_favor))

La media de goles a favor es: 4.25

In [97]:
print('La varianza de goles a favor es:',var(df_goles_favor))

La varianza de goles a favor es: 5.1875

In [98]:
print('La media de goles en contra es:',media(df_goles_contra))

La media de goles en contra es: 4.25

In [99]:
print('La varianza de goles en contra es:',var(df_goles_contra))

La varianza de goles en contra es: 4.8125

In [100]:
print('La media de puntos es:',media(df_puntos))

La media de puntos es: 4.21875

In [101]:
print('La varianza de puntos es:',var(df_puntos))

La varianza de puntos es: 8.0458984375

Desafío 2:
Utilizando el método groupby de la clase DataFrame, en conjunto con la función .agg de
pandas, calcule la media, la varianza y desviación estándar de la cantidad de goles a favor,
en contra y de la cantidad de puntos por continente.
● ¿En qué continente se observa una mayor cantidad de goles a favor?
● ¿En qué continente se observa una mayor cantidad de goles en contra?
● ¿En qué continente se observa una mayor cantidad de puntos en promedio

In [109]:
df_mini_worldcup = df_worldcup[["continent","goles_favor","goles_contra","puntos"]]

In [116]:
df_mini_worldcup.groupby(['continent']).agg((np.mean,np.var,np.std,max))

             goles_favor                         goles_contra             \
                    mean       var       std max         mean        var
continent
africa          3.600000  3.300000  1.816590   6     5.600000   4.800000
asia            2.250000  0.916667  0.957427   3     6.250000   4.250000
europe          4.769231  6.858974  2.618964  10     4.000000   3.833333
northamerica    3.250000  2.250000  1.500000   4     3.500000  11.000000
southamerica    5.666667  4.666667  2.160247   9     2.833333   0.566667

                              puntos
                   std max      mean        var       std max
continent
africa        2.190890   9  2.400000   3.300000  1.816590   4
asia          2.061553   9  0.750000   0.250000  0.500000   1
europe        1.957890   7  4.692308   6.897436  2.626297   9
northamerica  3.316625   8  4.500000  11.000000  3.316625   7
southamerica  0.752773   4  6.833333   3.766667  1.940790   9

● ¿En qué continente se observa una mayor cantidad de goles a favor?
El continente Europeo se observa una mayor cantidad de goles a favor, con un promedio de 4,7 y un maximo de 10 goles a favor en una selección nacional.
● ¿En qué continente se observa una mayor cantidad de goles en contra?
El continente Asiatico se observa una mayor cantidad de goles en contra, con un promedio de 6,2 y un maximo de 9 goles en contra en una selección nacional.
● ¿En qué continente se observa una mayor cantidad de puntos en promedio
El continente SudAmericano se observa una mayor cantidad de puntos, con un promedio de 6,8 y un maximo de 9 puntos en una selección nacional.

Desafío 3: Simulaciones
● Genere una función generate_pet que devuelva de forma aleatoria un string
'perro' o 'gato' un número n de veces. Ejecútela un par de veces.
Tip: Puede utilizar la función np.random.choice para retornar elementos al azar.
● Aplique la función generate_pet para generar 20 muestras.
● ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?
● Agregue np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se
ejecuta la función varias veces luego de fijar la semilla?

In [227]:
def generate_pet():
    #np.random.seed(2)
    lista = np.random.choice(('perro','gato'), size=20)
    return lista

In [228]:
animales=generate_pet()

In [229]:
df=pd.DataFrame(data=animales,columns=['tipo'])

In [235]:
print("La probabilidad de obtener perro es: ",(len(df[df.tipo == 'perro'])/len(df))*100)

La probabilidad de obtener perro es:  55.00000000000001

In [236]:
print("La probabilidad de obtener gato es: ",(len(df[df.tipo == 'gato'])/len(df))*100)

La probabilidad de obtener gato es:  45.0

● Agregue np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se
ejecuta la función varias veces luego de fijar la semilla?
Se pierde la aleatoridad de la muestra al ejecutarla en repetidas veces (Deje comentado en la funcion generate_pet el np.random.seed(2)

Desafío 4: Función simuladora
● Genere una función llamada simulate_pets_prob que tome como argumento un
número finito de simulaciones a generar.
● La función debe simular dos situaciones young_pet y old_pet, y contar la
ocurrencia de los siguientes casos:
○ De las dos mascotas simuladas (young y old), contar las ocasiones donde
por lo menos una de las mascotas sea un perro.
○ De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un
perro.
○ De las dos mascotas simuladas, contar las ocasiones donde los dos sean
perros.
● El método debe tener una semilla pseudoaleatoria de 1.
● El output de la función debe entregarse en términos de Probabilidad.
● De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable? ¿Por
qué?

In [544]:
def simulate_pets_prob():
    np.random.seed(1)
    young = np.random.choice(('perro','gato'), size=20)
    old = np.random.choice(('perro','gato'), size=20)
    return young, old

In [545]:
lista_1,lista_2=simulate_pets_prob()

In [546]:
lista_1

array(['gato', 'gato', 'perro', 'perro', 'gato', 'gato', 'gato', 'gato',
       'gato', 'perro', 'perro', 'gato', 'perro', 'gato', 'gato', 'perro',
       'perro', 'gato', 'perro', 'perro'], dtype='<U5')

In [547]:
lista_2

array(['perro', 'gato', 'perro', 'perro', 'gato', 'perro', 'perro',
       'perro', 'gato', 'perro', 'perro', 'perro', 'gato', 'gato', 'gato',
       'gato', 'gato', 'perro', 'perro', 'perro'], dtype='<U5')

In [548]:
datos={'young':lista_1,'old':lista_2}

In [549]:
df_prob=pd.DataFrame(datos)

○ De las dos mascotas simuladas (young y old), contar las ocasiones donde
por lo menos una de las mascotas sea un perro.

In [542]:
al_menos_1_perro = df_prob[(df_prob.young == 'perro') | (df_prob.old == 'perro')].count()

In [543]:
al_menos_1_perro

young    15
old      15
or       15
and      15
dtype: int64

In [512]:
(df_prob[df_prob.young=='perro'].count()+df_prob[df_prob.old=='perro'].count())-(df_prob[(df_prob.young == 'perro') & (df_prob.old == 'perro')].count())

young    15
old      15
dtype: int64

In [550]:
a=(df_prob.young == 'perro') | (df_prob.old == 'perro')

In [551]:
b=(df_prob.young == 'perro') & (df_prob.old == 'perro')

In [552]:
df_prob['cond_or']=a

In [553]:
df_prob['cond_and']=b

In [554]:
df_prob

    young    old  cond_or  cond_and
0    gato  perro     True     False
1    gato   gato    False     False
2   perro  perro     True      True
3   perro  perro     True      True
4    gato   gato    False     False
5    gato  perro     True     False
6    gato  perro     True     False
7    gato  perro     True     False
8    gato   gato    False     False
9   perro  perro     True      True
10  perro  perro     True      True
11   gato  perro     True     False
12  perro   gato     True     False
13   gato   gato    False     False
14   gato   gato    False     False
15  perro   gato     True     False
16  perro   gato     True     False
17   gato  perro     True     False
18  perro  perro     True      True
19  perro  perro     True      True

In [567]:
pp = df_prob[df_prob.cond_and == True].cond_and.count()

In [568]:
pp

6

In [566]:
print('La probabilidad de ocaciones donde al menos sea perro entre young u old es:',(df_prob[df_prob.cond_or == True].cond_or.count())*100/len(df_prob))

La probabilidad de ocaciones donde al menos sea perro entre young u old es: 75.0

○ De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un
perro.

In [462]:
perro_old = df_prob[df_prob.old=='perro'].old.count()/len(df_prob)

In [571]:
print('La probabilidad de ocaciones donde perro es old es:',(df_prob[df_prob.old=='perro'].old.count())*100/len(df_prob))

La probabilidad de ocaciones donde perro es old es: 60.0

○ De las dos mascotas simuladas, contar las ocasiones donde los dos sean
perros.

In [455]:
dos_perros = df_prob[(df_prob.young == 'perro') & (df_prob.old == 'perrro')].old.count()

In [570]:
print('La probabilidad de ocaciones donde ambos casos son perro es:',(df_prob[df_prob.cond_and == True].cond_and.count())*100/len(df_prob))

La ocaciones donde ambos casos son perro es: 30.0